[Unit]
Description=DC/OS Metrics Agent Prometheus Plugin
[Service]
Restart=always
RestartSec=60
PermissionsStartOnly=True
User=dcos_metrics
SupplementaryGroups=dcos_adminrouter
EnvironmentFile=/opt/mesosphere/environment
EnvironmentFile=/opt/mesosphere/etc/dcos-metrics.env
EnvironmentFile=/opt/mesosphere/etc/dcos-metrics-prometheus.env
ExecStart=/opt/mesosphere/bin/dcos-metrics-prometheus-plugin --dcos-role agent