##############################################
# Example configuration file for dcos-metrics.
##############################################

# Collector configuration
collector:
  http_profiler: false
  
  node:
    poll_period: 15s

  mesos_agent:
    poll_period: 15s
    port: 5051
    request_protocol: http
    request_timeout: 5s

# Producers configuration
producers:
  # HTTP producer
  http:
    port: 9000
